service media /system/bin/mediaserver
    class main
    user media
    group audio camera inet net_bt net_bt_admin net_bw_acct drmrpc mediadrm m2mscaler lgt_gid dpgp
    ioprio rt 4
    writepid /dev/cpuset/foreground/tasks /dev/cpuset/media/tasks /dev/stune/foreground/tasks
